@{
	ViewData["Title"] = "Reports";
}

<div class="text-center">
	<h2 class="display-4">Отчеты</h2>
</div>

<div class="text-center">

	<form method="post">
		<button style="width:100%" class="btn btn-lg btn-block" type="submit" asp-controller="Home" asp-action="CreateExcellReport">Создать xls отчёт</button>
		<button style="width:100%" class="btn btn-lg btn-block" type="submit" asp-controller="Home" asp-action="">Создать word отчёт </button>
		<button style="width:100%" class="btn btn-lg btn-block" type="submit" asp-controller="Home" asp-action="">Создать pdf отчёт</button>
	</form>