@{
	ViewData["Title"] = "CreateSpare";
}
<div class="text-center">
	<h2 class="display-4">Создать деталь</h2>
</div>
<form method="post">
	<div class="row">
		<div class="col-4">Название:</div>
		<div class="col-8"><input type="text" name="title" id="title" /></div>
	</div>
	<div class="row">
		<div class="col-4">Стоимость:</div>
		<div class="col-8"><input type="number" name="cost" id="cost" /></div>
	</div>
	<div class="row">
		<div class="col-8"></div>
		<div class="col-4">
			<input type="submit" value="Создание" class="btn btn-primary" />
		</div>
	</div>
</form>