@{
	ViewData["Title"] = "Страница пользователя";
}

<div class="text-center">
	<h1 class="display-4">Страница пользователя</h1>
</div>

<div class="text-center">
	@{
			<h3 class="display-4">Сначала авторизируйтесь</h3>
			return;	
	}
</div>
